.generate-letter-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .generate-letter {
    font-size: max(4vw, 30px);
    border: 0.2px solid black;
    width: max(5vw, 50px);
    height: max(5vw, 50px);
    border-radius: 50%;
    text-align: center;
    line-height: max(5vw, 50px);
    margin: 2vw;
  }
}
