.current-players {
  border: 0.1px solid black;
  position: absolute;
  bottom: 10em;
  left: 5em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px;
}

.start-game-info {
  color: red;
}
