.header{
  height: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #689ad8;
}

.footer{
  height: 5%;
  background-color: #689ad8;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-body {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
