.message {
  position: relative;
  top: 20vh;
  background-color: #689ad8;
  color: #FFFFFF;
  padding: 15px;
  width: auto;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0.5rem;
}
