.hall-of-fame {
  display: flex;
  flex-direction: column;
}

.results {
  position: fixed;
  height: 60vh;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  .results-table {
    overflow-y: auto;
  }

  td, th {
    font-size: 1.5rem;
    text-align: left;
    padding: 1vw 2vw;
  }

  .results-overview-button {
    position: fixed;
    align-self: center;
    bottom: 10vh;
  }

  .error-message {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: red;
    }

    #roomId {
      margin: 2vh;
      width: 80%;
    }
  }
}

.exit-room-button {
  position: fixed;
  right: 8vw;
  bottom: 8vh;
}

.results-overview-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  .results-overview {
    background-color: white;
    margin: 12vh auto;
    padding: 1vh 2vw min(5vh, 15px) 2vw;
    border: 1px solid #888;
    width: 80%;
    height: auto;

    .results-overview-header {
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

    }

    .results-overview-body {
      overflow-x: auto;

      table {
        border-collapse: collapse;
      }

      td, th {
        font-size: 1rem;
        text-align: left;
        padding: 0.5vh 4vw;
        border-bottom: 1px solid #ddd;
      }

      th {
        font-size: 1.3rem;
      }

      .letter {
        font-size: 2rem;
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .table-block {
        border-bottom: 2px solid black;
      }
    }

    .results-overview-footer {
      height: 10vh;

      .close-results-button {
        float: right;
      }
    }
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
}
