html, body {
  height: 100%;
  margin: 0;
}

p, div, select {
  font-size: 1.2rem;
}

input, select {
  font-size: 1rem;
}

.body-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  position: relative;
  background-color: #689ad8;
  border: none;
  font-size: max(1vw, 20px);
  color: #FFFFFF;
  padding: 20px;
  width: auto;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2rem;
  margin: 0.5rem;
}

button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

button:disabled {
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0.5vh;
}

.page-title-container {
  height: 20vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.loader {
  margin: 5vh;
  border: 0.5vw solid white;
  border-radius: 50%;
  border-top: 0.5vw solid #689ad8;
  width: 4.5vw;
  height: 4.5vw;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
